body {
  background-color: #1B1B1B;
  color: white;
}

.logo {
  max-width: 200px;
}

.main-container {
  max-width: 98vw;
}


@media (max-width: 576px) {
  /* For screen widths up to 576px (e.g., xs), apply smaller font size */
  body {
    font-size: 10px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  /* For screen widths between 576px and 768px (e.g., sm), apply medium font size */
  body {
      font-size: 12px;
  }
}